<div class="monitor-box">
  <span>Attività Globale</span>
  <div class="monitor-bar">
    <div id="bar-global" style="width:0%; transition:width 1s;"></div>
  </div>
</div>

<div class="monitor-box">
  <span>Rischio Ransomware</span>
  <div class="monitor-bar">
    <div id="bar-ransomware" style="width:0%; transition:width 1s;"></div>
  </div>
</div>

<div class="monitor-box">
  <span>Attacchi DDoS</span>
  <div class="monitor-bar">
    <div id="bar-ddos" style="width:0%; transition:width 1s;"></div>
  </div>
</div>
